h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
.container {
  max-width: 1158px;
  padding: left 0;
  padding: right 0;
  margin: left 0;
  margin: right 0;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
button {
  cursor: pointer;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
/* #region-header */
.header-page {
}
.nav-page {
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.studio {
  color: #2e2f42;
}

.nav-header-list {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.studio {
  color: #2e2f42;
}

.nav-item-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.nav-item-link:hover,
.nav-item-link:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
}
.addr-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.addr-link:hover,
.addr-link:focus {
  color: #404bbf;
}
/* #andregion-header */

/* hero */
.hero {
  background-color: #2e2f42;
}
.hero-title {
  font-weight: 500;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}
.hero-btn {
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  background-color: #4d5ae5;
}
.hero-btn:hover,
.hero-btn:focus {
  color: #fff;
  background: #404bbf;
}
/*endHero */

/* benefits */

.benefits-title,
.benefits-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.benef-lis-p {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.p-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* endbenefits */

/* ourteam */
.our-team {
  background-color: #f4f4fd;
}
.our-team-li {
  background-color: #ffffff;
}
.ourteam-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.list-item-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.p-info {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.our-portfolio {
}
.our-portfolio-list {
  background-color: #ffffff;
}
.our-portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.portfolio-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio-info {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer {
  background-color: #2e2f42;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.footer-title {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}
.footer-studio {
  color: #f4f4fd;
}
